<h2>Documents</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @documents.to_a.each do |document| %>
    <tr class="document">
      <td><%= document['_id'] %></td>
      <td><%= document.ai(html: true) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Collection stats</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @stats.each do |property, value| %>
    <tr>
      <td><%= property %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
