.DS_Store
results.html
pkg
html
log/*.log
tmp
reports

Gemfile.lock

.idea
*.iml
*.gem

# front-end application
frontend/*.log
frontend/node_modules
frontend/bower_components
frontend/dev
frontend/dist
