<!DOCTYPE html>
<html ng-app="mb">
  <head>
    <title>Mongo Browser</title>

    <!-- build:css(dev) styles/vendor.min.css -->
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css(dev) styles/application.min.css -->
    <link rel="stylesheet" href="/styles/application.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="main" ng-cloak>
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Mongo Browser</a>
          <div class="nav-collapse collapse">
            <ul ng-controller="breadcrumbs" class="nav breadcrumbs">
              <li ng-show="showDatabase()">
                <a href="{{database | collectionsPath}}">{{database.name}}</a>
              </li>

              <li ng-show="showCollection()">
                <a href="{{collection | documentsPath}}">{{collection.name}}</a>
              </li>
            </ul>

            <ul class="nav pull-right">
              <li><a href="/server_info">Server Info</a></li>
              <li><a>v. {{appVersion}}</a></li>
              <li ng-show="showEnvironment()"><a>env {{environment}}</a></li>
              <spinner></spinner>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <alerts></alerts>

    <section class="container fluid">
      <section ng-view></section>
    </section>

    <!-- build:js(dev) scripts/vendor.min.js -->
    <script type="text/javascript" src="/components/jquery/jquery.js"></script>
    <script type="text/javascript" src="/components/underscore/js/underscore.js"></script>
    <script type="text/javascript" src="/components/bootbox/js/bootbox.js"></script>
    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

    <!-- build:js(dev) scripts/application.min.js -->
    <script type="text/javascript" src="/scripts/templates.js"></script>
    <script type="text/javascript" src="/scripts/directives.js"></script>
    <script type="text/javascript" src="/scripts/filters.js"></script>
    <script type="text/javascript" src="/scripts/resources.js"></script>
    <script type="text/javascript" src="/scripts/services.js"></script>

    <script type="text/javascript" src="/scripts/modules/alerts.js"></script>
    <script type="text/javascript" src="/scripts/modules/dialogs.js"></script>
    <script type="text/javascript" src="/scripts/modules/pager.js"></script>
    <script type="text/javascript" src="/scripts/modules/spinner.js"></script>
    <script type="text/javascript" src="/scripts/modules/table_filter.js"></script>

    <script type="text/javascript" src="/scripts/application.js"></script>

    <script type="text/javascript" src="/scripts/controllers/breadcrumbs_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/main_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/collections/index_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/collections/stats_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/databases/index_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/databases/stats_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/documents/index_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/documents/show_controller.js"></script>
    <script type="text/javascript" src="/scripts/controllers/servers/show_controller.js"></script>
    <!-- endbuild -->

    <!-- TODO use different trick -->
    <!--<% if settings.test? %>-->
      <!--<script src="/assets/application.test.js"></script>-->
    <!--<% end %>-->
  </body>
</html>
