<form ng-controller="FilterCtrl" class="filter" data-filter-for="<%= filter_for %>">
  <div class="input-append">
    <input ng-model="filter" on-esc="clear()" type="text" value="" class="span3" placeholder="<%= placeholder %>">

    <button ng-click="clear()" type="button" class="btn">
      <i class="icon-remove-circle"></i>Clear
    </button>
  </div>
  <span class="help-block">Press ESC to clear the filter</span>
</form>

<div class="filter alert" style="display: none;">
  Nothing has been found.
</div>
