<form class="filter" data-filter-for="<%= filter_for %>">
  <div class="input-append">
    <input type="text" value="" class="span3" placeholder="<%= placeholder %>">

    <button type="button" class="btn clear">
      <i class="icon-remove-circle"></i>Clear
    </button>
  </div>
  <span class="help-block">Press ESC to clear the filter</span>
</form>

<div class="filter alert" style="display: none;">
  Nothing has been found.
</div>
