<% if params[:db_name] %>
  <ul class="breadcrumb">
    <li><a href="/">Databases</a><span class="divider">/</span></li>

    <% unless params[:collection_name] %>
      <li>db: <%= params[:db_name] %></li>
    <% else %>
      <li><a href="/databases/<%= params[:db_name] %>">db: <%= params[:db_name] %></a>
        <span class="divider">/</span></li>
      <li>collection: <%= params[:collection_name] %></li>
    <% end %>
  </ul>
<% end %>
