<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/">MongoBrowser</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li><a href="/server_info">Server Info</a></li>
      </ul>

      <ul class="nav pull-right">
        <li><a>v. <%= MongoBrowser::VERSION %></a></li>
      </ul>
    </div>
  </div>
</div>
