<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">MongoBrowser</a>
    <div class="nav-collapse collapse">
      <ul ng-controller="BreadcrumbsCtrl" class="nav breadcrumbs">
        <li ng-show="dbName"><a href="/databases/{{dbName}}/collections">{{dbName}}</a></li>
        <li ng-show="collectionName"><a href="/databases/{{dbName}}/collections/{{collectionName}}">{{collectionName}}</a></li>
      </ul>

      <ul class="nav pull-right">
        <li><a href="/server_info">Server Info</a></li>
        <li><a>v. <%= MongoBrowser::VERSION %></a></li>
      </ul>
    </div>
  </div>
</div>
