<header>
  <h2>localhost databases</h2>
</header>

<div ng-controller="DatabasesCtrl" data-databases='<%= @databases.to_json %>'>
  <filter placeholder="Enter database name"></filter>

  <table ng-hide="tableFilter.noMatches()" class="table table-striped table-hover databases">
    <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th class="actions">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="database in databases">
        <td><a href="/databases/{{database.name}}">{{database.name}}</a></td>
        <td>{{database.size}}</td>
        <td>
          <a href="/databases/{{database.name}}" class="btn btn-danger" data-method="delete" data-confirm="Are you sure?">
            <i class="icon-remove-circle"></i>
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-show="tableFilter.noMatches()" class="filter alert">
    Nothing has been found.
  </div>
</div>
