<table class="table table-striped">
  <caption>Collections</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @collections.each do |collection| %>
    <tr>
      <td><%= collection.name %></td>
      <td><%= collection.size %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <caption>Database info</caption>
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @stats.each do |property, value| %>
    <tr>
      <td><%= property %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
