/*
 *= require bootstrap
 *= require_self
 */

body {
  position: relative;
  padding-top: 40px;
  background-color: #d3d3d3;
  background-repeat: repeat-x;
  background-position: 0 40px;
}

section.container {
  background-color: white;
  margin-top: 16px;
  border: 1px solid #AAA;
  border-radius: 4px 4px 0px 0px;
  padding-left: 20px;
  padding-right: 20px;

  section {
    margin-top: 20px;

    header {
      background-color: #f5f5f5;
      border-bottom: 1px solid #DDD;
      border-radius: 4px 4px 0px 0px;
      margin: -20px -20px 20px;
      padding-left: 20px;

      h2 {
        font-family: "Rokkitt", serif;
        font-size: 24px;
        margin: 0px;
      }
    }
  }
}

table.table {
  tr {
    &.document pre {
      background: none;
      border: 0px;
      padding: 0px;
      display: inline;
    }

    th.actions {
      min-width: 90px;
    }
  }
}

ul.nav.breadcrumbs {
  a {
    background-image: url("breadcrumb-separator.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
  }
}
