/*
*= require_self
*= require vendor/bootstrap
*/
body {
  position: relative;
  padding-top: 40px;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: 0 40px;
}

table.table {
  tr {
    &.document pre {
      background: none;
      border: 0px;
      display: inline;
    }

    th.actions {
      min-width: 90px;
    }
  }
}

ul.nav.breadcrumbs {
  a {
    background-image: url("breadcrumb-separator.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
  }
}
