/*
*= require_self
*= require vendor/bootstrap
*= require vendor/bootstrap-responsive
*/
body {
  position: relative;
  padding-top: 90px;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: 0 40px;
}
