<h2>Available databases</h2>

<form class="filter" data-filter-for="databases">
  <div class="input-append">
    <input type="text" value="" class="span3" placeholder="Database name">

    <button type="button" class="btn clear">
      <i class="icon-remove-circle"></i>Clear
    </button>
  </div>
  <span class="help-block">Press ESC to clear the filter</span>
</form>

<div class="alert" style="display: none;">
  Nothing has been found.
</div>

<table class="table table-striped databases">
  <thead>
  <tr>
    <th>Name</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <% @databases.each do |db_name, db_size| %>
    <tr>
      <td><a href="/databases/<%= db_name %>"><%= db_name %></a></td>
      <td><%= db_size %></td>
    </tr>
  <% end %>
  </tbody>
</table>
