<table class="table table-striped">
  <caption>Available databases</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @databases.each do |db_name, db_size| %>
    <tr>
      <td><%= db_name %></td>
      <td><%= db_size %></td>
    </tr>
  <% end %>
  </tbody>
</table>
