<!DOCTYPE html>
<html ng-app="mb">
  <head>
    <title>Mongo Browser</title>
    <link href="/assets/application.css" rel="stylesheet" media="screen">

    <script id="filter-template" type="text">
      <form class="filter">
        <div class="input-append">
          <input ng-model="value" on-esc="clear()" type="text" class="span3" placeholder="{{placeholder}}">

          <button ng-click="clear()" type="button" class="btn">
            <i class="icon-remove-circle"></i>Clear
          </button>
        </div>
        <span class="help-block">Press ESC to clear the filter</span>
      </form>
    </script>
  </head>
  <body>
    <div class="navbar navbar navbar-fixed-top">
      <%= erb :"layout/_navbar" %>
    </div>

    <aside id="alerts">
      <%= erb :"layout/_flash_messages" %>
    </aside>

    <section class="container fluid">
      <section>
        <%= yield %>
      </section>
    </section>

    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Rokkitt:400,700|Source+Code+Pro">
    <script src="/assets/vendor.js"></script>
    <script src="/assets/application.js"></script>
  </body>
</html>
