<!DOCTYPE html>
<html ng-app="mb">
  <head>
    <title>Mongo Browser</title>
    <link href="/assets/application.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="AppCtrl">
    <div class="navbar navbar navbar-fixed-top">
      <%= erb :"layout/_navbar" %>
    </div>

    <aside id="alerts">
      <%= erb :"layout/_flash_messages" %>
    </aside>

    <section class="container fluid">
      <%= yield %>
    </section>

    <!--<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Rokkitt:400,700|Source+Code+Pro">-->
    <script src="/assets/vendor.js"></script>
    <script src="/assets/application.js"></script>
  </body>
</html>
