<!DOCTYPE html>
<html>
<head>
  <title>Monog browser</title>
  <link href="assets/application.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Mongo Browser</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/server_info">Server Info</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <script src="assets/application.js"></script>
</body>
</html>
