<!DOCTYPE html>
<html>
  <head>
    <title>Mongo Browser</title>
    <link href="/assets/application.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar navbar-fixed-top">
      <%= erb :"layout/_navbar" %>
    </div>

    <div class="container-fluid">
      <%= erb :"layout/_flash_messages" %>
      <%= yield %>
    </div>

    <script src="/assets/application.js"></script>
  </body>
</html>
