<table class="table table-striped">
  <caption>Database stats</caption>
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @server_info.each do |property, value| %>
    <tr>
      <td><%= property %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
