<div class="page-header">
  <h2>server info</h2>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <% @server_info.each do |property, value| %>
    <tr>
      <td><%= property %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
