<header>
  <h2>{{dbName}} collections</h2>
</header>

<div class="tabbable">
  <div class="tab-pane" title="Collections" ng-hide="isLoading()">
    <table-filter value="filterValue.name" placeholder="Enter collection name"></table-filter>

    <table ng-show="(collections | filter:filterValue).length" class="table table-striped table-hover collections">
      <thead>
      <tr>
        <th>Name</th>
        <th>Documents</th>
        <th class="actions">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="collection in collections | orderBy:'name' | filter:filterValue">
        <td>
          <a href="{{collection | documentsPath}}">
            {{collection.name}}
          </a>
        </td>
        <td>{{collection.size}}</td>
        <td class="actions">
          <a class="btn btn-danger" ng-click="delete(collection)">
            <i class="icon-remove-circle"></i>
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-hide="(collections | filter:filterValue).length" class="filter alert">
      Nothing has been found.
    </div>
  </div>

  <div class="tab-pane" title="Database stats">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(property, value) in dbStats">
        <td>{{property}}</td>
        <td>{{value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
