<header>
  <h2>{{collectionName}} documents</h2>
</header>

<div class="tabbable">
  <div class="tab-pane" title="Documents">
    <pager page="page" total-pages="totalPages"></pager>

    <table class="table table-striped table-hover documents">
      <thead>
      <tr>
        <th>Data</th>
        <th class="actions">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="document in documents" class="document id-{{document.id}}">
        <td class="data" ng-bind-html="document.data | jsonDocument"></td>
        <td class="actions">
          <a ng-click="delete(document)" class="btn btn-danger">
            <i class="icon-remove-circle"></i>
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <pager page="page" total-pages="totalPages"></pager>
  </div>

  <div class="tab-pane" title="Collection stats">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(property, value) in collectionStats">
        <td>{{property}}</td>
        <td>{{value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
